.row
  .col-lg-6
    %h2 Sign up
    = simple_form_for(resource, wrapper: :bootstrap3, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-inputs
        = f.input :username, :required=>true
        = f.input :email, :required=>true
        = f.input :password, :required=>true
        = f.input :password_confirmation, :required=>true
      .form-actions
        = f.submit "Sign up", :class=>"btn btn-success"
    = render "devise/shared/links"
  .col-lg-6
    %h2 OAuth
    %br/
    = link_to "/auth/github" do
      = image_tag 'glyphicons/png/glyphicons_381_github.png'
      Sign up with Github
    %br/
    %br/
    = link_to "/auth/twitter" do
      = image_tag 'glyphicons/png/glyphicons_391_twitter_t.png'
      Sign up with Twitter
    %br/
    %br/
    = link_to "/auth/facebook" do
      = image_tag 'glyphicons/png/glyphicons_390_facebook.png'
      Sign up with Facebook
    %br/

