- if current_user
  %ul.nav.nav-pills.nav-stacked
    %li
      = link_to root_path, :class=>"p" do
        = draw_icon 'inbox'
        Dashboard
    %li
      = link_to starred_path, :class=>"p" do
        = draw_icon 'star'
        Starred
        %span.badge= current_user.stars.count(:id)
    %li
      = link_to observed_path, :class=>"p" do
        = draw_icon 'eye-open'
        Observed
    %li
      = link_to my_path, :class=>"p" do
        = draw_icon 'user'
        My scraps
  #nav_cordion.accordion
    - @menu_organizations.each_with_index do |org, idx|
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{:'data-toggle'=>'collapse', :'data-parent'=>'#nav_cordion', :href=>"#collapse_#{org.slug}"}
            %h4
              - if org.logo.present?
                = image_tag org.logo.url(:thumb)
              = org.name
        .accordion-body.collapse{:id=>"collapse_#{org.slug}"}
          .sidebar-nav
            %ul.nav.nav-list
              %li.nav-header
                Folders
              - unless org.folders.empty?
                %ul
                  - org.folders.ordered.each do |f|
                    %li= link_to f.name, [org, f, :scraps], :class=>"p"
              %li.divider/
              %li
                = link_to [:new, org, :scrap], :class=>"p" do
                  = draw_icon 'plus-sign'
                  Add scrap
              %li
                = link_to [org, :scraps], :class=>"p" do
                  = draw_icon 'list'
                  All scraps
              - unless org.user_id.present?
                %li
                  = link_to [org], :class=>"p" do
                    = draw_icon 'briefcase'
                    Group overview
              - else
                %li
                  = link_to [org], :class=>"p" do
                    = draw_icon 'user'
                    Account overview
- else
  %ul.nav.nav-pills.nav-stacked
    - if @organization and @organization.persisted?
      %h4= @organization.name
    - else
      %li
        = link_to [:public, :organizations] do
          All organizations
          = surround "(", ")" do
            = Organization.not_users.count(:id)

