= simple_nested_form_for([@organization, @scrap], :html=>{:class=>"form-horizontal"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :is_public
    = f.association :folder, :collection=>@organization.folders.all
    = f.input :description, :input_html=>{:class=>"input-xxlarge", :rows=>"2"}
    %hr/
    = f.fields_for :single_files do |fsf|
      = fsf.input :name
      = fsf.input :content, :input_html=>{:class=>"input-xxlarge code_area", :rows=>"10"}
      = fsf.link_to_remove "del"
    = f.link_to_add "add new file", :single_files

  .form-actions
    = f.button :submit, class: 'btn btn-success'
