.scrap_wrapper
  %h4.pull-left.scrap_title
    = link_to scrap.title, get_scrap_path(scrap.organization, scrap)
    %small
      = draw_icon('eye-open', :class=>scrap.is_public? ? "icon-white" : "", :title=>scrap.is_public? ? "Public" : "Private")
  -#%span.badge.pull-left.file_number{:title=>"Associatied files: #{scrap.single_files.count(:id)}"}= scrap.single_files.count(:id)
  .clear
  - unless scrap.description.empty?
    %blockquote= simple_format scrap.description
  - unless show_all
    - sf = scrap.single_files.ordered.first
    - if sf
      = render :partial => '/scraps/single_file', :locals=>{:sf=>sf}
  - else
    - scrap.single_files.each do |sf|
      = render :partial => '/scraps/single_file', :locals=>{:sf=>sf}

  .btn-group.links
    - if current_user
      - if current_user.starred_scraps.member?(scrap)
        = link_to [:unstar, scrap.organization, scrap], :class=>"btn btn-sm btn-success", :title=>"Unstar" do
          = draw_icon('star', :class=>"icon-white")
      - else
        = link_to [:star, scrap.organization, scrap], :class=>"btn btn-sm btn-success", :title=>"Star" do
          = draw_icon('star', :class=>"")
      - if current_user.member_of?(scrap.organization)
        = link_to [:edit, scrap.organization, scrap], :class=>"btn btn-sm btn-success", :title=>"Edit" do
          = draw_icon('pencil', :class=>"icon-white")
        = link_to [scrap.organization, scrap], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-success", title: "Delete" do
          = draw_icon('trash', :class=>"icon-white")
