%h1 Listing scraps

%table.table
  %tr
    %th Name
    %th Is public
    %th

  - @scraps.each do |scrap|
    %tr
      %td= link_to scrap.title, get_scrap_path(@organization, scrap)
      %td= scrap.is_public
      %td
        - if current_user and scrap.organization.users.member?(current_user)
          = link_to draw_icon('edit'), [:edit, @organization, scrap], :class=>'p'
          = link_to draw_icon('trash'), [@organization, scrap], method: :delete, data: { confirm: 'Are you sure?' }

%br
- if current_user and @organization.users.member?(current_user)
  = link_to 'Add Scrap', [:new, @organization, :scrap], :class=>'p'
