%p 
  Organizations can bind together users from same company, working on same project, 
  etc. All code scraps you post within an organization will be visible to all 
  organization members.

%table.table
  %tr
    %th= sort_link q, :name, "Organization name"
    %th{:width=>"80"}= sort_link q, :memberships_count, "Members"
    - if can_manage
      %th{:width=>"50"}
  %tbody
    - organizations.each do |organization|
      %tr
        %td= link_to organization.name, organization
        %td.center_text= organization.memberships_count
        - if can_manage and organization.admins.member?(current_user)
          %td{:align=>"center"}
            = link_to draw_icon('edit'), edit_organization_path(organization)
            = link_to draw_icon('trash'), organization, method: :delete, data: { confirm: 'Are you sure?' }

%br
= paginate organizations

- if current_user
  = link_to 'Add organization', new_organization_path
