%h1 Listing organizations

%table
  %tr
    %th
    %th
  - @organizations.each do |organization|
    %tr
      %td= link_to organization.name, organization
      %td
        = link_to 'Show', organization
        \|
        = link_to 'Edit', edit_organization_path(organization)
        \|
        = link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Organization', new_organization_path
