
%h1= @organization.name

- if @organization.user.blank?
  %h5 Organization members:
  %ul
    - @organization.users.ordered.find_each do |u|
      %li= link_to u.username, u.private_organization

  - if @organization.admins.member?(current_user)
    = link_to 'Edit', edit_organization_path(@organization)
    \|
    = link_to 'Add or remove members', members_organization_path(@organization)
    \|
- if current_user and @organization.user_id!=current_user.id
  - if current_user.observed_organizations.member?(@organization)
    = link_to "stop observing", [:stop_observing, @organization]
  - else
    = link_to "observe!", [:observe, @organization]
= link_to 'Back', organizations_path
