!!!
%html
  %head
    = airbrake_javascript_notifier
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "ScrapsApp"
    %meta{:content => content_for?(:description) ? yield(:description) : "ScrapsApp", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    = render :partial=>"/layouts/ga"
  %body{:class=>params[:controller], :'data-organization'=>@organization.present? ? @organization.slug : ''}
    = render '/layouts/navigation'
    #main{:role => "main", :class=>params[:action]}
      .container
        .masthead
        - unless @skip_left_column
          .row
            .col-lg-2
              = render partial: '/shared/left_column'
            .col-lg-10
              = render '/layouts/messages'
              #content_wrapper
                = yield
        - else
          = render '/layouts/messages'
          = yield
        .footer
          &copy; 2014 prograils.com
